html {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  /* 1rem = 10px  10px/16px = 62.5 */
  /* font-size: 62.5%; */
}
body {
  font-family: "Nunito Sans", sans-serif;
}

img {
  max-width: 100%;
}

/* .col-3 {
  flex-basis: 25%;
} */
.header {
  background-color: #fff;
  height: 70px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.filter__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
  flex-wrap: wrap;
  row-gap: 10px;
}
.search__wrapper input,
.region__wrapper select {
  padding: 10px 10px;
  width: 270px;
  border: none;
  border-radius: 5px;
}
.col-3 {
  height: 300px;
}
.card {
  min-width: 270px;
  width: 250px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
}
.card__image-wrapper {
  height: 150px;
}
.card__image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__details-wrapper {
  height: 100%;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card__details-headline {
  margin-bottom: 10px;
  font-size: 20px;
}
.card__details-content--row p {
  color: #000;
}
.card__details-content--row p span {
  color: #534848;
}
.country__wrapper {
  display: flex;
  justify-content: space-around;
}
.country__img-wrapper img {
  height: 100%;
  object-fit: contain;
}
.country__details {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.country__neighbor p span {
  display: inline-block;
  background: #fff;
  padding: 2px 20px;
  margin: 0 5px;
  border-radius: 3px;
}
main {
  min-height: 80vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  --accent-color: orangered;
  --background-color: #e9e8e8;
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 0.25s;

  margin: 0;

  min-width: 320px;
  min-height: 100vh;

  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

body.theme-dark {
  --accent-color: #d0d066;
  --background-color: #333;
  --text-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100%;
}
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
}
